.repositories__filter{
    display: flex;
    padding: 16px 0 16px 0;
}
.repositories__filter form{
    width: 65%;
    margin-right: 16px;
}
.repositories__filter .btn{
    min-width: fit-content;
    margin-right: 16px;
}
.repositories__filter .btn span{
    color: #666
}
@media (max-width: 768px) {
    .repositories__filter {
        flex-wrap: wrap;
    }
    .repositories__filter form {
        width: 100%;
    }
    .repositories__filter .btn{
        margin: 16px 3px 16px
    }
}